pandas==1.1.5
streamlit==0.74.1
seaborn==0.11.1
Pygments==2.3.1
cachetools==4.2.0
selenium==3.141.0
watchdog==1.0.2
PyVirtualDisplay==2.0
opencv_python==4.5.1.48
oauthlib==3.1.0
Click==7.0
cryptography==2.8
chardet==3.0.4
matplotlib==3.3.3
keyring==18.0.1
importlib_metadata==1.5.0
certifi==2019.11.28
cffi==1.14.4
aiohttp==3.7.3
autograd==1.3
backports.statistics==0.1.0
boto3==1.16.59
botocore==1.19.59
cloud_tpu_client==0.10
cntk==2.7.post2
Cython==0.29.21
dill==0.3.3
google_api_python_client==1.12.8
greenlet==1.0.0
grpc_reflection==1.0.0
grpc_tools==1.0.0
h5==0.0.1
ipaddr==2.2.0
ipython==7.19.0
kubernetes==12.0.1
lxml==4.6.2
memory_profiler==0.58.0
mock==4.0.3
mpi4py==3.0.3
mpmath==1.1.0
mypy_extensions==0.4.3
oauth2client==4.1.3
ordereddict==1.1
Pillow==8.1.0
portpicker==1.3.1
psutil==5.8.0
pydot==1.4.1
pydot_ng==2.0.0
pydotplus==2.0.2
pyOpenSSL==20.0.1
pytest==6.2.1
pytidylib==0.3.2
PyYAML==5.4.1
scikits.talkbox==0.2.5
secrets==1.0.2
simplejson==3.17.2
sphinx_rtd_theme==0.5.1
spline==1.12
streams==0.1
sympy==1.7.1
tblib==1.7.0
tensorboard_plugin_profile==2.4.0
tvm==1.0.0
unittest2==1.1.0
wincertstore==0.2
